*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(110, 93, 151);
}
table{
    background-color: rgb(10, 143, 6);
    margin: 0px 30px; 
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    border-collapse: collapse;
    transition: 0.5s;
}
td:hover{
    background-color: aqua;
    transition: 0.25s;
}
th, td{
    border-spacing: 1px;
    border-color: black;
    border: 1px;
    border-style: solid;
    width: 700px;
    height: 55px;
    text-align: center;    
}

#divIniciar{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bemVindo{
    text-align: center;
}
.btn{
    color: white;
    background-color: rgba(41, 5, 61, 0.952);
    border: 2px black inset;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 8px 50px 20px 114px;
    box-shadow: 10px rgb(27, 25, 25);
}
.btn:hover{
    background-color: rgba(41, 5, 61, 0.74);
    color: white;
    border: 1px;
}
#divIniciar > p {
    margin: -2px 0px -19px 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
}
#nameUser{
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px rgba(59, 56, 56, 0.849);
    border-style: inset;
}
.mostraCampoUsuario{
    display: none;
}

#Perguntas{
    background-color: aqua;
    position: absolute;
    display: block;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#headerPerguntas{
    margin: 20px;
}
#opcoes>li{
    margin: 10px;
    padding: 15px;
    border-style: inset;
    border: 4px black;
}
.numeroPergunta{
    background-color: blue;
    margin: 0px; 
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    border: 1px;
}
#pergunta{
    background-color: aquamarine;
    margin: 20px;
}
.perguntas{
    display: none;

}